

#published {
    color: green;
    margin-left: 6px;
    font-weight: bold;
}

#bottom-labels>input {
    margin-bottom: 25px;
}

.form-group {
    margin: 30px;
}


#margin-style>* {
    margin-bottom: 20px;
}


.assignment {
    border-left-color: green;
    border-left-width: 4px;
}

.assignment>a {
    color: black;
    font-weight: bold;
}